*,
*:after,
*:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


body {
  /*height: 100vh;*/
  width: 100%;

  color: white;

  padding: 0;
  margin: 0;

  background: radial-gradient(circle at 20vw 140vh, rgba(58, 212, 92, 0.61) 10%, rgba(0, 148, 255, 0) 60%),
  radial-gradient(circle at 95vw -30vh, rgba(116, 10, 55, 0.68) 10%, rgba(109, 58, 159, 0.18) 60%),
  radial-gradient(circle at 3vw 8vh, rgba(68, 103, 171, 1) 15%, rgba(9, 191, 148, 0.35) 70%),
  rgba(116, 188, 188, 0.5);

  /*overflow: hidden;*/
}

body::-webkit-scrollbar {
  width: 0;
}

/*=========================*/
/*=========================*/

.header {
  height: 8vh;
  width: 100%;
}

.header__inner {
  height: 100%;
  margin-left: 5vw;
  margin-right: 9vw;
  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;
  vertical-align: bottom;
}

.header__title {
  font-weight: 400;
  font-family: 'Russo One', sans-serif;
  left: 0;
  position: absolute;
  line-height: 0.75;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
  cursor: pointer;

  text-transform: capitalize;
  letter-spacing: 1px;
}

.header__nav {
  height: 100%;
  display: flex;
  align-items: end;
}

.header__nav a {
  margin-right: 6vw;
  text-decoration: none;
  color: #fff;
  font-family: 'Istok Web', sans-serif;
  font-weight: 600;
  line-height: 0.75;
  letter-spacing: 1px;
  cursor: pointer;
}

.header__nav button {
  background: rgba(255, 255, 255, 0.25);
  border: none;
  color: #fff;
  font-family: 'Istok Web', sans-serif;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 100px;
  margin-bottom: -14px;
  align-items: center;
  line-height: 0.75;
  letter-spacing: 1px;
  cursor: pointer;

  display: flex;
}

.header__nav button span {
  margin-right: 1vw;
}

.header__nav button span img {
  width: 80%;
}

.header__nav button span:last-child {
  margin: 0;
}

/*============================*/
/*============================*/

main {

}

.main__item {
  /*width: 90vw;*/
  display: flex;
  flex-direction: column;

  /*border: 1px solid red;*/
  margin-top: 5vw;
}

.main__item h3 {
  font-family: 'Istok Web', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.8em;
  line-height: 1;
  color: #FFFFFF;
  margin-left: 13vw;
}

.image-wrapper {
  width: 90vw;
  position: relative;
  margin: 3vw auto 0 auto;
}

.image-slider {
  margin: 0 5vw;
  overflow: hidden;
  /*border: 3px solid green;*/
  position: relative;
}

.image-slider__image {
  height: 20vw;
  overflow: hidden;
  border-radius: 10px;
}

.image-slider__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image-wrapper .swiper-button-prev::after,
.image-wrapper .swiper-button-next::after {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.footer {
  margin-top: 5vh;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-family: 'Istok Web', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0.045em;

  color: #FFFFFF;
}

.footer a {
  margin-left: 10px;
}
